PROJECT_NAME=Post System
CORS_ORIGINS=["http://localhost:5173"]

DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pos_db

DATABASE_URL=postgresql://postgres:your_password@db.your_project_ref.supabase.co:5432/postgres